
<h2>Choose a new movie</h2>

<form action="/movies/create" method="POST">
    <label for="nombre">Name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="url">Occupation:</label>
    <input id="occupation" name="occupation" type="text"></input>

    <label for="url">Catch Phrase:</label>
    <input id="catchPhrase" name="catchPhrase" type="text"></input>

    <label for="movies">Choose a movie:</label>

    <select name="movies" id="movies" multiple>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
</select>
    
    <button type="submit"> Add Movie </button>
</form>