<br /><h2>Create a new movie</h2><br />

<form action="/movies/create" method="POST">
  <label>
    Title:
    <input type="text" name="title" />
  </label>
  <br />

  <label>
    Genre:
    <textarea type="text" name="genre"> </textarea>
  </label>
  <br />

  <label>
    Plot:
    <textarea type="text" name="plot"> </textarea>
  </label>
  <br />

  <label for="cast">Cast:</label>
  <select name="cast" multiple>
    {{! <option value="volvo">Volvo</option> }}
    {{#each celebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <br />

  <button type="submit"> Create a movie </button>
</form>